In [1]:
import nltk
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import random as rd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
from sklearn.linear_model import LinearRegression
from pandas import DataFrame
from pandas import read_csv
from matplotlib import pyplot
from datetime import datetime, timedelta
import numpy
import datetime

In [2]:
data1 = pd.read_csv("[Final Highlight]랄로_903242294.csv", encoding='cp949' )
data1

,Unnamed: 0,시간,시청자ID,채팅내용,하이라이트 여부
0,0,0:00:18,맘만먹으면골드가는사람,BabyRage BabyRage,X
1,1,0:00:19,삼방동_김찬호,NotLikeThis NotLikeThis NotLikeThis,X
2,2,0:00:20,3억딜량돈즈리얼,FootYellow FootYellow FootYellow FootYellow Fo...,X
3,3,0:00:22,Xormralgh,ResidentSleeper ResidentSleeper ResidentSleeper,X
4,4,0:00:25,선홍빛하늘색,HeyGuys,X
...,...,...,...,...,...
79254,79898,5:02:14,trip0414,BibleThump BibleThump BibleThump BibleThump,X
79255,79899,5:02:14,빵뺭빵,BibleThump BibleThump BibleThump BibleThump Bi...,X
79256,79900,5:02:14,han5814,BibleThump BibleThump BibleThump BibleThump,X
79257,79901,5:02:14,손디손디,BibleThump BibleThump BibleThump BibleThump Bi...,X
79258,79902,5:02:14,paopaoboy76,NotLikeThis NotLikeThis NotLikeThis NotLikeThi...,X

In [3]:
id_uni = data1["시청자ID"].unique()
id_num = len(id_uni)
id_num

9336

## fill missing sec

In [4]:
df_grouped = data1.groupby('시간')
df_grouped

In [5]:
df4 = data1.groupby('시간').agg({ 
                             '시청자ID':', '.join,
                             '채팅내용': ' '.join, 
                             '하이라이트 여부':'first'
                             }).reset_index()

In [6]:
DataFrame(df4)

,시간,시청자ID,채팅내용,하이라이트 여부
0,0:00:18,맘만먹으면골드가는사람,BabyRage BabyRage,X
1,0:00:19,삼방동_김찬호,NotLikeThis NotLikeThis NotLikeThis,X
2,0:00:20,3억딜량돈즈리얼,FootYellow FootYellow FootYellow FootYellow Fo...,X
3,0:00:22,Xormralgh,ResidentSleeper ResidentSleeper ResidentSleeper,X
4,0:00:25,선홍빛하늘색,HeyGuys,X
...,...,...,...,...
16375,5:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16376,5:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16377,5:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16378,5:02:13,"해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16379,5:02:14,"무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...",BibleThump BibleThump BibleThump BibleThump Bi...,X

In [7]:
df4['시간'] = pd.to_datetime(df4['시간'])

In [8]:
df4['시간'] = df4['시간'].dt.strftime('%H:%M:%S')

In [9]:
df4

,시간,시청자ID,채팅내용,하이라이트 여부
0,00:00:18,맘만먹으면골드가는사람,BabyRage BabyRage,X
1,00:00:19,삼방동_김찬호,NotLikeThis NotLikeThis NotLikeThis,X
2,00:00:20,3억딜량돈즈리얼,FootYellow FootYellow FootYellow FootYellow Fo...,X
3,00:00:22,Xormralgh,ResidentSleeper ResidentSleeper ResidentSleeper,X
4,00:00:25,선홍빛하늘색,HeyGuys,X
...,...,...,...,...
16375,05:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16376,05:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16377,05:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16378,05:02:13,"해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...",BibleThump BibleThump BibleThump BibleThump Bi...,O
16379,05:02:14,"무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...",BibleThump BibleThump BibleThump BibleThump Bi...,X

In [60]:
chat_number = data1.groupby('시간')['채팅내용'].count()
chat_number

시간
0:00:18     1
0:00:19     1
0:00:20     1
0:00:22     1
0:00:25     1
           ..
5:02:10     9
5:02:11    15
5:02:12     7
5:02:13     9
5:02:14     8
Name: 채팅내용, Length: 16380, dtype: int64

In [61]:
df1 = DataFrame(chat_number)
df1 = df1.reset_index()
df1.rename(columns= {'채팅내용':'채팅수'}, inplace=True)

In [62]:
df1['시간'] = pd.to_datetime(df1['시간'])
df1 = df1.set_index('시간')
date_index = pd.date_range('00:00:00', '5:02:14', freq='s') #last time 데이터에 맞게 변경!! 
df1 = df1.reindex(date_index, fill_value=0)
df1

                     채팅수
2021-05-06 00:00:00    0
2021-05-06 00:00:01    0
2021-05-06 00:00:02    0
2021-05-06 00:00:03    0
2021-05-06 00:00:04    0
...                  ...
2021-05-06 05:02:10    9
2021-05-06 05:02:11   15
2021-05-06 05:02:12    7
2021-05-06 05:02:13    9
2021-05-06 05:02:14    8

[18135 rows x 1 columns]

In [63]:
df1 = df1.reset_index()
df1.rename(columns= {'index':'시간'}, inplace=True)
df1['시간'] = df1['시간'].dt.strftime('%H:%M:%S')
df1

             시간  채팅수
0      00:00:00    0
1      00:00:01    0
2      00:00:02    0
3      00:00:03    0
4      00:00:04    0
...         ...  ...
18130  05:02:10    9
18131  05:02:11   15
18132  05:02:12    7
18133  05:02:13    9
18134  05:02:14    8

[18135 rows x 2 columns]

In [64]:
df_time = df1.loc[:,['시간']]
df_time

             시간
0      00:00:00
1      00:00:01
2      00:00:02
3      00:00:03
4      00:00:04
...         ...
18130  05:02:10
18131  05:02:11
18132  05:02:12
18133  05:02:13
18134  05:02:14

[18135 rows x 1 columns]

In [65]:
merge_outer = pd.merge(df_time,df4, how='outer',on='시간')
merge_outer

,시간,시청자ID,채팅내용,하이라이트 여부
0,00:00:00,NaN,NaN,NaN
1,00:00:01,NaN,NaN,NaN
2,00:00:02,NaN,NaN,NaN
3,00:00:03,NaN,NaN,NaN
4,00:00:04,NaN,NaN,NaN
...,...,...,...,...
18130,05:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18131,05:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18132,05:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18133,05:02:13,"해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18134,05:02:14,"무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...",BibleThump BibleThump BibleThump BibleThump Bi...,X

In [66]:
fill_val1 = {'채팅내용':"",
           '시청자ID':"",
           '하이라이트 여부':"X"}

In [67]:
merge_outer=merge_outer.fillna(fill_val1)
merge_outer

,시간,시청자ID,채팅내용,하이라이트 여부
0,00:00:00,,,X
1,00:00:01,,,X
2,00:00:02,,,X
3,00:00:03,,,X
4,00:00:04,,,X
...,...,...,...,...
18130,05:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18131,05:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18132,05:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18133,05:02:13,"해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...",BibleThump BibleThump BibleThump BibleThump Bi...,O
18134,05:02:14,"무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...",BibleThump BibleThump BibleThump BibleThump Bi...,X

## widow 생성

In [68]:
windowtab = merge_outer.loc[:,['시간','채팅내용']]
windowtab

             시간                                               채팅내용
0      00:00:00
1      00:00:01
2      00:00:02
3      00:00:03
4      00:00:04
...         ...                                                ...
18130  05:02:10  BibleThump BibleThump BibleThump BibleThump Bi...
18131  05:02:11  BibleThump BibleThump BibleThump BibleThump Bi...
18132  05:02:12  BibleThump BibleThump BibleThump BibleThump Bi...
18133  05:02:13  BibleThump BibleThump BibleThump BibleThump Bi...
18134  05:02:14  BibleThump BibleThump BibleThump BibleThump Bi...

[18135 rows x 2 columns]

In [69]:
windowtab['value2'] = windowtab['채팅내용'].shift()
windowtab['value3'] = windowtab['value2'].shift()
windowtab

,시간,채팅내용,value2,value3
0,00:00:00,,NaN,NaN
1,00:00:01,,,NaN
2,00:00:02,,,
3,00:00:03,,,
4,00:00:04,,,
...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,NotLikeThis NotLikeThis NotLikeThis BibleThump...,BibleThump BibleThump BibleThump BibleThump Bi...
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,NotLikeThis NotLikeThis NotLikeThis BibleThump...
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...
18133,05:02:13,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...
18134,05:02:14,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...

In [70]:
windowtab['window']= windowtab.loc[2:,['채팅내용', 'value2', 'value3']].apply(lambda x : ' '.join(x.tolist()[::-1]),axis=1).reset_index(drop=True)
windowtab

,시간,채팅내용,value2,value3,window
0,00:00:00,,NaN,NaN,
1,00:00:01,,,NaN,
2,00:00:02,,,,
3,00:00:03,,,,
4,00:00:04,,,,
...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,NotLikeThis NotLikeThis NotLikeThis BibleThump...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,NotLikeThis NotLikeThis NotLikeThis BibleThump...,BibleThump BibleThump BibleThump BibleThump Bi...
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...
18133,05:02:13,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,NaN
18134,05:02:14,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,BibleThump BibleThump BibleThump BibleThump Bi...,NaN

In [71]:
window_chat = windowtab.loc[:,['시간','window']]
window_chat

             시간                                             window
0      00:00:00
1      00:00:01
2      00:00:02
3      00:00:03
4      00:00:04
...         ...                                                ...
18130  05:02:10  BibleThump BibleThump BibleThump BibleThump Bi...
18131  05:02:11  BibleThump BibleThump BibleThump BibleThump Bi...
18132  05:02:12  BibleThump BibleThump BibleThump BibleThump Bi...
18133  05:02:13                                                NaN
18134  05:02:14                                                NaN

[18135 rows x 2 columns]

In [72]:
window2 = merge_outer.loc[:,['시간','시청자ID']]
window2

             시간                                              시청자ID
0      00:00:00
1      00:00:01
2      00:00:02
3      00:00:03
4      00:00:04
...         ...                                                ...
18130  05:02:10  가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...
18131  05:02:11  파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...
18132  05:02:12  휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...
18133  05:02:13  해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...
18134  05:02:14  무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...

[18135 rows x 2 columns]

In [73]:
window2['value2'] = window2['시청자ID'].shift()
window2['value3'] = window2['value2'].shift()
window2

,시간,시청자ID,value2,value3
0,00:00:00,,NaN,NaN
1,00:00:01,,,NaN
2,00:00:02,,,
3,00:00:03,,,
4,00:00:04,,,
...,...,...,...,...
18130,05:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...","박종우의한입만, 온카온, 김찬호랑같은김씨, 운동좀해라, rhdjsw4999, 돈까스...","랄로쟝, 쥐코몇, 꿀잼민국"
18131,05:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...","가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...","박종우의한입만, 온카온, 김찬호랑같은김씨, 운동좀해라, rhdjsw4999, 돈까스..."
18132,05:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...","파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...","가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙..."
18133,05:02:13,"해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...","휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...","파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링..."
18134,05:02:14,"무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...","해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...","휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상..."

In [74]:
window2['window']= window2.loc[2:,['시청자ID', 'value2', 'value3']].apply(lambda x : ' '.join(x.tolist()[::-1]),axis=1).reset_index(drop=True)
window2

,시간,시청자ID,value2,value3,window
0,00:00:00,,NaN,NaN,
1,00:00:01,,,NaN,
2,00:00:02,,,,
3,00:00:03,,,,
4,00:00:04,,,,
...,...,...,...,...,...
18130,05:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...","박종우의한입만, 온카온, 김찬호랑같은김씨, 운동좀해라, rhdjsw4999, 돈까스...","랄로쟝, 쥐코몇, 꿀잼민국","가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙..."
18131,05:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...","가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...","박종우의한입만, 온카온, 김찬호랑같은김씨, 운동좀해라, rhdjsw4999, 돈까스...","파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링..."
18132,05:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...","파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...","가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...","휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상..."
18133,05:02:13,"해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...","휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...","파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",NaN
18134,05:02:14,"무지성캬캬캬, 방구석동탁, 두부절임, trip0414, 빵뺭빵, han5814, 손...","해조방송해조, 돈까스좋아, 노력의천재123, 전딱순, 헛사랑, 북조선북구리, cle...","휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",NaN

In [75]:
window_chat.rename(columns= {'window':'채팅내용'}, inplace=True)
# window_chat

In [76]:
window_ID = window2.loc[:,['시간','window']]

In [77]:
window_ID.rename(columns= {'window':'시청자ID'}, inplace=True)

In [78]:
window_hl= merge_outer.loc[:,['시간','하이라이트 여부']]
# window_hl

In [79]:
group_1 =pd.merge(window_chat, window_ID, left_index=True, right_index=True, how='left', on = '시간')
group_1

,시간,채팅내용,시청자ID
0,00:00:00,,
1,00:00:01,,
2,00:00:02,,
3,00:00:03,,
4,00:00:04,,
...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙..."
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링..."
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상..."
18133,05:02:13,NaN,NaN
18134,05:02:14,NaN,NaN

In [80]:
window =pd.merge(group_1, window_hl, left_index=True, right_index=True, how='left', on = '시간')
window

,시간,채팅내용,시청자ID,하이라이트 여부
0,00:00:00,,,X
1,00:00:01,,,X
2,00:00:02,,,X
3,00:00:03,,,X
4,00:00:04,,,X
...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O
18133,05:02:13,NaN,NaN,O
18134,05:02:14,NaN,NaN,X

## window 특성
###  1.채팅 빈도 
### 1-(ㄱ) 윈도우 내 채팅 수

In [81]:
df1['시간'] = pd.to_datetime(df1['시간'])
df1

                       시간  채팅수
0     2021-05-06 00:00:00    0
1     2021-05-06 00:00:01    0
2     2021-05-06 00:00:02    0
3     2021-05-06 00:00:03    0
4     2021-05-06 00:00:04    0
...                   ...  ...
18130 2021-05-06 05:02:10    9
18131 2021-05-06 05:02:11   15
18132 2021-05-06 05:02:12    7
18133 2021-05-06 05:02:13    9
18134 2021-05-06 05:02:14    8

[18135 rows x 2 columns]

In [82]:
indexer = pd.api.indexers.FixedForwardWindowIndexer(window_size=3)
rolling_count = df1.rolling(window=indexer, min_periods=3).sum()
rolling_count

        채팅수
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
18130  31.0
18131  31.0
18132  24.0
18133   NaN
18134   NaN

[18135 rows x 1 columns]

In [83]:
# rolling_count = rolling_count.reset_index()
# rolling_count.rename(columns= {'index':'시간'}, inplace=True)
# rolling_count['시간'] = rolling_count['시간'].dt.strftime('%H:%M:%S')
# rolling_count

In [84]:
window2 =pd.merge(window, rolling_count, left_index=True, right_index=True, how='left')
window2

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수
0,00:00:00,,,X,0.0
1,00:00:01,,,X,0.0
2,00:00:02,,,X,0.0
3,00:00:03,,,X,0.0
4,00:00:04,,,X,0.0
...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0
18133,05:02:13,NaN,NaN,O,NaN
18134,05:02:14,NaN,NaN,X,NaN

In [85]:
#결측값 채우기
fill_val = {'채팅내용':"",
           '시청자ID':"",
           '채팅수':0}

In [86]:
window3 =window2.fillna(fill_val)
window3

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수
0,00:00:00,,,X,0.0
1,00:00:01,,,X,0.0
2,00:00:02,,,X,0.0
3,00:00:03,,,X,0.0
4,00:00:04,,,X,0.0
...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0
18133,05:02:13,,,O,0.0
18134,05:02:14,,,X,0.0

### 1-(ㄴ) 윈도우 내 채팅 참여자 수 비율

In [87]:
id_sub=pd.DataFrame(window3.loc[:,['시간','시청자ID']])
id_sub

             시간                                              시청자ID
0      00:00:00
1      00:00:01
2      00:00:02
3      00:00:03
4      00:00:04
...         ...                                                ...
18130  05:02:10  가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...
18131  05:02:11  파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...
18132  05:02:12  휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...
18133  05:02:13
18134  05:02:14

[18135 rows x 2 columns]

In [88]:
for i,row in id_sub.iterrows():
    if id_sub.at[i,'시청자ID'] == "  ":
        id_sub.at[i,'참여수(중복X)'] = 0
    elif id_sub.at[i,'시청자ID'] == " ":
        id_sub.at[i,'참여수(중복X)'] = 0
    elif id_sub.at[i,'시청자ID'] == "":
        id_sub.at[i,'참여수(중복X)'] = 0    
    else:
        id_sub.at[i,'참여수(중복X)'] = len(set(id_sub.at[i,'시청자ID']))

In [89]:
id_sub

             시간                                              시청자ID  참여수(중복X)
0      00:00:00                                                          0.0
1      00:00:01                                                          0.0
2      00:00:02                                                          0.0
3      00:00:03                                                          0.0
4      00:00:04                                                          0.0
...         ...                                                ...       ...
18130  05:02:10  가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...     124.0
18131  05:02:11  파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...     122.0
18132  05:02:12  휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...      93.0
18133  05:02:13                                                          0.0
18134  05:02:14                                                          0.0

[18135 rows x 3 columns]

In [90]:
id_sub['참여비율'] = id_sub['참여수(중복X)'] / id_num
id_sub

,시간,시청자ID,참여수(중복X),참여비율
0,00:00:00,,0.0,0.000000
1,00:00:01,,0.0,0.000000
2,00:00:02,,0.0,0.000000
3,00:00:03,,0.0,0.000000
4,00:00:04,,0.0,0.000000
...,...,...,...,...
18130,05:02:10,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",124.0,0.013282
18131,05:02:11,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",122.0,0.013068
18132,05:02:12,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",93.0,0.009961
18133,05:02:13,,0.0,0.000000
18134,05:02:14,,0.0,0.000000

In [91]:
p_id=pd.DataFrame(id_sub.loc[:,['시간','참여비율']])
p_id

             시간      참여비율
0      00:00:00  0.000000
1      00:00:01  0.000000
2      00:00:02  0.000000
3      00:00:03  0.000000
4      00:00:04  0.000000
...         ...       ...
18130  05:02:10  0.013282
18131  05:02:11  0.013068
18132  05:02:12  0.009961
18133  05:02:13  0.000000
18134  05:02:14  0.000000

[18135 rows x 2 columns]

In [92]:
window_total=pd.merge(window3, p_id, left_index=True, right_index=True, how='left',on='시간')
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율
0,00:00:00,,,X,0.0,0.000000
1,00:00:01,,,X,0.0,0.000000
2,00:00:02,,,X,0.0,0.000000
3,00:00:03,,,X,0.0,0.000000
4,00:00:04,,,X,0.0,0.000000
...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961
18133,05:02:13,,,O,0.0,0.000000
18134,05:02:14,,,X,0.0,0.000000

### 1 - (ㄷ) 윈도우 시간 정규화
= 현재 윈도우의 시간적 위치 비율

In [93]:
for i,row in window_total.iterrows():
    window_total.at[i,'시간정규화'] = (i+1)/29004
        
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화
0,00:00:00,,,X,0.0,0.000000,0.000034
1,00:00:01,,,X,0.0,0.000000,0.000069
2,00:00:02,,,X,0.0,0.000000,0.000103
3,00:00:03,,,X,0.0,0.000000,0.000138
4,00:00:04,,,X,0.0,0.000000,0.000172
...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190
18133,05:02:13,,,O,0.0,0.000000,0.625224
18134,05:02:14,,,X,0.0,0.000000,0.625259

## 2.언어적 빈도
### 2 - 윈도우 내 (ㄱ)어절 (ㄴ)음절 (ㄷ)낱글자 수

In [94]:
import re
com = re.compile('[ㄱ-ㅎㅏ-ㅣ]')

In [95]:
df_chat = window_total["채팅내용"]
chat1 = df_chat.to_numpy()
chat1

array(['  ', '  ', '  ', ...,
       'BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump ralo3 ralo3 ResidentSleeper ResidentSleeper ResidentSleeper ResidentSleeper HotPokket HotPokket HotPokket HotPokket Kreygasm Kreygasm Kreygasm Kreygasm Kreygasm Kreygasm Kreygasm Kreygasm BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump xkwhdApfhd xkwhdApfhd xkwhdApfhd xkwhdApfhd xkwhdApfhd xkwhdApfhd BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump ResidentSleeper ResidentSleeper ResidentSleeper BibleThump BibleThump BibleThump PogChamp PogChamp PogChamp parkha3HaAgmuchi parkha3HaAgmuchi PogChamp BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump BibleThump NotLikeThis NotLikeThis NotLikeThis NotLikeThis NotLikeThis NotLikeThis NotLikeThis NotLikeThis',
       '', ''], dtype=object)

In [96]:
    s = chat1[0]
    i = 0
    a = 0
    Ar = []
    for h in chat1:
        s = h
        tk = nltk.word_tokenize(s)
        a = len(tk)
        Ar.append(a)

In [97]:
df_uh = pd.DataFrame(Ar, columns = ['어절수'])
df_uh

       어절수
0        0
1        0
2        0
3        0
4        0
...    ...
18130  161
18131  159
18132  124
18133    0
18134    0

[18135 rows x 1 columns]

In [98]:
    ss = chat1[0]
    i = 0
    aa = 0
    AAr = []
    for h in chat1:
        ss = h
        a=ss.split(' ')
        result=0
        for i in a :
            result+=len(i)
#         print(result)
        AAr.append(result)

In [99]:
df_um = pd.DataFrame(AAr, columns = ['음절수'])
df_um

        음절수
0         0
1         0
2         0
3         0
4         0
...     ...
18130  1527
18131  1581
18132  1257
18133     0
18134     0

[18135 rows x 1 columns]

In [100]:
sss = chat1[0]
i = 0
aa = 0
single = []
for h in chat1:
    sss = h
    res = com.findall(sss)
    w = len(res)
#     print(w)
    single.append(w)

In [101]:
df_single = pd.DataFrame(single, columns = ['낱글자수'])
df_single

       낱글자수
0         0
1         0
2         0
3         0
4         0
...     ...
18130     0
18131     0
18132     0
18133     0
18134     0

[18135 rows x 1 columns]

In [102]:
window_total=pd.merge(window_total, df_uh, left_index=True, right_index=True, how='left')
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수
0,00:00:00,,,X,0.0,0.000000,0.000034,0
1,00:00:01,,,X,0.0,0.000000,0.000069,0
2,00:00:02,,,X,0.0,0.000000,0.000103,0
3,00:00:03,,,X,0.0,0.000000,0.000138,0
4,00:00:04,,,X,0.0,0.000000,0.000172,0
...,...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121,161
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155,159
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190,124
18133,05:02:13,,,O,0.0,0.000000,0.625224,0
18134,05:02:14,,,X,0.0,0.000000,0.625259,0

In [103]:
window_total=pd.merge(window_total, df_um, left_index=True, right_index=True, how='left')
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수,음절수
0,00:00:00,,,X,0.0,0.000000,0.000034,0,0
1,00:00:01,,,X,0.0,0.000000,0.000069,0,0
2,00:00:02,,,X,0.0,0.000000,0.000103,0,0
3,00:00:03,,,X,0.0,0.000000,0.000138,0,0
4,00:00:04,,,X,0.0,0.000000,0.000172,0,0
...,...,...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121,161,1527
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155,159,1581
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190,124,1257
18133,05:02:13,,,O,0.0,0.000000,0.625224,0,0
18134,05:02:14,,,X,0.0,0.000000,0.625259,0,0

In [104]:
window_total=pd.merge(window_total, df_single, left_index=True, right_index=True, how='left')
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수,음절수,낱글자수
0,00:00:00,,,X,0.0,0.000000,0.000034,0,0,0
1,00:00:01,,,X,0.0,0.000000,0.000069,0,0,0
2,00:00:02,,,X,0.0,0.000000,0.000103,0,0,0
3,00:00:03,,,X,0.0,0.000000,0.000138,0,0,0
4,00:00:04,,,X,0.0,0.000000,0.000172,0,0,0
...,...,...,...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121,161,1527,0
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155,159,1581,0
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190,124,1257,0
18133,05:02:13,,,O,0.0,0.000000,0.625224,0,0,0
18134,05:02:14,,,X,0.0,0.000000,0.625259,0,0,0

### 2- 윈도우 내 한 채팅당 평균 (ㄹ)어절 (ㅁ)음절 (ㅂ)낱글자 수

In [110]:
for i,row in window_total.iterrows():
    if window_total.at[i,'채팅수'] == 0:
        window_total.at[i,'채팅당 어절수'] = 0
    else:
        window_total.at[i,'채팅당 어절수'] = window_total.at[i,'어절수'] / window_total.at[i,'채팅수']
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수,음절수,낱글자수,채팅당 어절수,채팅당 음절수,채팅당 낱글자수
0,00:00:00,,,X,0.0,0.000000,0.000034,0,0,0,0.000000,NaN,NaN
1,00:00:01,,,X,0.0,0.000000,0.000069,0,0,0,0.000000,NaN,NaN
2,00:00:02,,,X,0.0,0.000000,0.000103,0,0,0,0.000000,NaN,NaN
3,00:00:03,,,X,0.0,0.000000,0.000138,0,0,0,0.000000,NaN,NaN
4,00:00:04,,,X,0.0,0.000000,0.000172,0,0,0,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121,161,1527,0,5.193548,49.258065,0.0
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155,159,1581,0,5.129032,51.000000,0.0
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190,124,1257,0,5.166667,52.375000,0.0
18133,05:02:13,,,O,0.0,0.000000,0.625224,0,0,0,0.000000,NaN,NaN
18134,05:02:14,,,X,0.0,0.000000,0.625259,0,0,0,0.000000,NaN,NaN

In [111]:
for i,row in window_total.iterrows():
    if window_total.at[i,'채팅수'] == 0:
        window_total.at[i,'채팅당 음절수'] = 0
    else:
        window_total.at[i,'채팅당 음절수'] = window_total.at[i,'음절수'] / window_total.at[i,'채팅수']
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수,음절수,낱글자수,채팅당 어절수,채팅당 음절수,채팅당 낱글자수
0,00:00:00,,,X,0.0,0.000000,0.000034,0,0,0,0.000000,0.000000,NaN
1,00:00:01,,,X,0.0,0.000000,0.000069,0,0,0,0.000000,0.000000,NaN
2,00:00:02,,,X,0.0,0.000000,0.000103,0,0,0,0.000000,0.000000,NaN
3,00:00:03,,,X,0.0,0.000000,0.000138,0,0,0,0.000000,0.000000,NaN
4,00:00:04,,,X,0.0,0.000000,0.000172,0,0,0,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121,161,1527,0,5.193548,49.258065,0.0
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155,159,1581,0,5.129032,51.000000,0.0
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190,124,1257,0,5.166667,52.375000,0.0
18133,05:02:13,,,O,0.0,0.000000,0.625224,0,0,0,0.000000,0.000000,NaN
18134,05:02:14,,,X,0.0,0.000000,0.625259,0,0,0,0.000000,0.000000,NaN

In [112]:
for i,row in window_total.iterrows():
    if window_total.at[i,'채팅수'] == 0:
        window_total.at[i,'채팅당 낱글자수'] = 0
    else:
        window_total.at[i,'채팅당 낱글자수'] = window_total.at[i,'낱글자수'] / window_total.at[i,'채팅수']
window_total

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수,음절수,낱글자수,채팅당 어절수,채팅당 음절수,채팅당 낱글자수
0,00:00:00,,,X,0.0,0.000000,0.000034,0,0,0,0.000000,0.000000,0.0
1,00:00:01,,,X,0.0,0.000000,0.000069,0,0,0,0.000000,0.000000,0.0
2,00:00:02,,,X,0.0,0.000000,0.000103,0,0,0,0.000000,0.000000,0.0
3,00:00:03,,,X,0.0,0.000000,0.000138,0,0,0,0.000000,0.000000,0.0
4,00:00:04,,,X,0.0,0.000000,0.000172,0,0,0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18130,05:02:10,BibleThump BibleThump BibleThump BibleThump Bi...,"가비의리, HHAL3000, 포스트말론, 국평5트평6, 유훈1, hoduni, 블랙...",O,31.0,0.013282,0.625121,161,1527,0,5.193548,49.258065,0.0
18131,05:02:11,BibleThump BibleThump BibleThump BibleThump Bi...,"파1괴, 독서실갈거야, teajonkoho12345, paulkim0516, 망고링...",O,31.0,0.013068,0.625155,159,1581,0,5.129032,51.000000,0.0
18132,05:02:12,BibleThump BibleThump BibleThump BibleThump Bi...,"휠체어탄파카, cartman0024, 태연하리, 무야호리믹스, 실험실의청개구리, 상...",O,24.0,0.009961,0.625190,124,1257,0,5.166667,52.375000,0.0
18133,05:02:13,,,O,0.0,0.000000,0.625224,0,0,0,0.000000,0.000000,0.0
18134,05:02:14,,,X,0.0,0.000000,0.625259,0,0,0,0.000000,0.000000,0.0

In [113]:
window_total.isna()

,시간,채팅내용,시청자ID,하이라이트 여부,채팅수,참여비율,시간정규화,어절수,음절수,낱글자수,채팅당 어절수,채팅당 음절수,채팅당 낱글자수
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18130,False,False,False,False,False,False,False,False,False,False,False,False,False
18131,False,False,False,False,False,False,False,False,False,False,False,False,False
18132,False,False,False,False,False,False,False,False,False,False,False,False,False
18133,False,False,False,False,False,False,False,False,False,False,False,False,False
18134,False,False,False,False,False,False,False,False,False,False,False,False,False

In [114]:
window_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18135 entries, 0 to 18134
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시간        18135 non-null  object
 1   채팅내용      18135 non-null  object
 2   시청자ID     18135 non-null  object
 3   하이라이트 여부  18135 non-null  object
 4   채팅수       18135 non-null  float64
 5   참여비율      18135 non-null  float64
 6   시간정규화     18135 non-null  float64
 7   어절수       18135 non-null  int64
 8   음절수       18135 non-null  int64
 9   낱글자수      18135 non-null  int64
 10  채팅당 어절수   18135 non-null  float64
 11  채팅당 음절수   18135 non-null  float64
 12  채팅당 낱글자수  18135 non-null  float64
dtypes: float64(6), int64(3), object(4)
memory usage: 2.6+ MB

In [115]:
window_total.to_csv("랄로_903242294_window.csv", encoding='UTF-8')