In [309]:
import sys
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [310]:
from konlpy.tag import Okt
okt= Okt()

In [311]:
from collections import Counter

In [312]:
# import nltk
import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# import statsmodels.api as sm
# import statsmodels.formula.api as smf
import random as rd
# from scipy.stats import ttest_1samp
# from scipy.stats import ttest_ind
# from sklearn.linear_model import LinearRegression
from pandas import DataFrame
from pandas import read_csv
# from matplotlib import pyplot
from datetime import datetime, timedelta
import numpy
import datetime

In [313]:
rat = pd.read_csv("Scoreboard.csv", encoding = 'cp949')
rat

,Unnamed: 0,형태소2,Hscore,Nscore
0,0,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.500000,9.536743e-07
1,1,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,9.536743e-07
2,2,!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,5.634775e-01
3,3,!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.503906,9.851456e-04
4,4,!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000004,1.053810e-03
...,...,...,...,...
124345,124345,힘풀렷/Noun,0.000000,5.000000e-01
124346,124346,힘힘/Exclamation,0.000000,4.375000e-01
124347,124347,힛힛/Noun,0.000000,5.000000e-01
124348,124348,힝힝/Noun,0.000000,5.000000e-01
124349,124349,？？/Foreign,0.000000,5.000000e-01

In [314]:
rat = rat.loc[:,["형태소2","Hscore","Nscore"]]
rat

                                                 형태소2    Hscore        Nscore
0       !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.500000  9.536743e-07
1           !!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.000000  9.536743e-07
2             !!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.000000  5.634775e-01
3               !!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.503906  9.851456e-04
4                !!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.000004  1.053810e-03
...                                               ...       ...           ...
124345                                       힘풀렷/Noun  0.000000  5.000000e-01
124346                                 힘힘/Exclamation  0.000000  4.375000e-01
124347                                        힛힛/Noun  0.000000  5.000000e-01
124348                                        힝힝/Noun  0.000000  5.000000e-01
124349                                     ？？/Foreign  0.000000  5.000000e-01

[124350 rows x 3 columns]

In [315]:
rat_word = rat.loc[:,['형태소2']]
rat_word

                                                 형태소2
0       !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation
1           !!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation
2             !!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation
3               !!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation
4                !!!!!!!!!!!!!!!!!!!!!!!!/Punctuation
...                                               ...
124345                                       힘풀렷/Noun
124346                                 힘힘/Exclamation
124347                                        힛힛/Noun
124348                                        힝힝/Noun
124349                                     ？？/Foreign

[124350 rows x 1 columns]

In [316]:
lal = pd.read_csv("형태소_풍월량_926484159.csv", encoding = 'cp949')
lal

       Unnamed: 0                                       형태소2  Hscore    Nscore
0               0  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
1               1           !!!!!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
2               2            !!!!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
3               3             !!!!!!!!!!!!!!!!!!/Punctuation     0.0  0.000000
4               4              !!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
...           ...                                        ...     ...       ...
37243       37243                              힠/Exclamation     0.0  1.000000
37244       37244                              힣/Exclamation     0.0  1.000000
37245       37245                             힣힣/Exclamation     0.0  1.000000
37246       37246                                  ？/Foreign     0.0  1.000000
37247       37247                                  ￦/Foreign     0.0  0.285714

[37248 rows x 4 columns]

In [317]:
lal = lal.loc[:,["형태소2","Hscore","Nscore"]]
lal

                                            형태소2  Hscore    Nscore
0      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
1               !!!!!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
2                !!!!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
3                 !!!!!!!!!!!!!!!!!!/Punctuation     0.0  0.000000
4                  !!!!!!!!!!!!!!!!!/Punctuation     0.0  1.000000
...                                          ...     ...       ...
37243                              힠/Exclamation     0.0  1.000000
37244                              힣/Exclamation     0.0  1.000000
37245                             힣힣/Exclamation     0.0  1.000000
37246                                  ？/Foreign     0.0  1.000000
37247                                  ￦/Foreign     0.0  0.285714

[37248 rows x 3 columns]

In [318]:
score = pd.merge(rat, lal, how ='outer', on='형태소2')
score

,형태소2,Hscore_x,Nscore_x,Hscore_y,Nscore_y
0,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.500000,9.536743e-07,NaN,NaN
1,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,9.536743e-07,0.0,1.0
2,!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,5.634775e-01,NaN,NaN
3,!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.503906,9.851456e-04,NaN,NaN
4,!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000004,1.053810e-03,NaN,NaN
...,...,...,...,...,...
137125,힘숨농/Noun,NaN,NaN,0.5,0.0
137126,힘앞/Noun,NaN,NaN,0.0,1.0
137127,힘줄/Noun,NaN,NaN,1.0,0.0
137128,힘케/Noun,NaN,NaN,0.0,1.0
137129,힙보소/Noun,NaN,NaN,0.0,1.0

In [319]:
score = score.fillna(0)
score

,형태소2,Hscore_x,Nscore_x,Hscore_y,Nscore_y
0,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.500000,9.536743e-07,0.0,0.0
1,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,9.536743e-07,0.0,1.0
2,!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,5.634775e-01,0.0,0.0
3,!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.503906,9.851456e-04,0.0,0.0
4,!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000004,1.053810e-03,0.0,0.0
...,...,...,...,...,...
137125,힘숨농/Noun,0.000000,0.000000e+00,0.5,0.0
137126,힘앞/Noun,0.000000,0.000000e+00,0.0,1.0
137127,힘줄/Noun,0.000000,0.000000e+00,1.0,0.0
137128,힘케/Noun,0.000000,0.000000e+00,0.0,1.0
137129,힙보소/Noun,0.000000,0.000000e+00,0.0,1.0

In [320]:
score.columns

Index(['형태소2', 'Hscore_x', 'Nscore_x', 'Hscore_y', 'Nscore_y'], dtype='object')

In [321]:
for i,row in score.iterrows():
    score.at[i,'Hscore'] = (score.at[i,'Hscore_x'] +score.at[i,'Hscore_y'])/2
    score.at[i,'Nscore'] = (score.at[i,'Nscore_x'] +score.at[i,'Nscore_y'])/2
score

,형태소2,Hscore_x,Nscore_x,Hscore_y,Nscore_y,Hscore,Nscore
0,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.500000,9.536743e-07,0.0,0.0,0.250000,4.768372e-07
1,!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,9.536743e-07,0.0,1.0,0.000000,5.000005e-01
2,!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000000,5.634775e-01,0.0,0.0,0.000000,2.817388e-01
3,!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.503906,9.851456e-04,0.0,0.0,0.251953,4.925728e-04
4,!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation,0.000004,1.053810e-03,0.0,0.0,0.000002,5.269051e-04
...,...,...,...,...,...,...,...
137125,힘숨농/Noun,0.000000,0.000000e+00,0.5,0.0,0.250000,0.000000e+00
137126,힘앞/Noun,0.000000,0.000000e+00,0.0,1.0,0.000000,5.000000e-01
137127,힘줄/Noun,0.000000,0.000000e+00,1.0,0.0,0.500000,0.000000e+00
137128,힘케/Noun,0.000000,0.000000e+00,0.0,1.0,0.000000,5.000000e-01
137129,힙보소/Noun,0.000000,0.000000e+00,0.0,1.0,0.000000,5.000000e-01

In [322]:
score_board = score.drop(['Hscore_x','Hscore_y','Nscore_x','Nscore_y'],axis = 1)
score_board

                                                 형태소2    Hscore        Nscore
0       !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.250000  4.768372e-07
1           !!!!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.000000  5.000005e-01
2             !!!!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.000000  2.817388e-01
3               !!!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.251953  4.925728e-04
4                !!!!!!!!!!!!!!!!!!!!!!!!/Punctuation  0.000002  5.269051e-04
...                                               ...       ...           ...
137125                                       힘숨농/Noun  0.250000  0.000000e+00
137126                                        힘앞/Noun  0.000000  5.000000e-01
137127                                        힘줄/Noun  0.500000  0.000000e+00
137128                                        힘케/Noun  0.000000  5.000000e-01
137129                                       힙보소/Noun  0.000000  5.000000e-01

[137130 rows x 3 columns]

In [323]:
score_board.to_csv("Scoreboard.csv",encoding ='cp949')